<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booble</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <meta name="author" content="Rui Pereira">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.imgur.com/sHTGEs8.jpg">
</head>
<body>
    <div class="geral">
        <div class="navbar">
           <div class="link1"><a href="">Gmail</a>
           </div>
            <div class="link1"> <a href="">Imagens</a> </div>

            <div class="link1 icon"> <img src="https://static.thenounproject.com/png/654601-200.png" alt="Menu icons" class="menu">
                <span class="escondido"> Google Apps</span>
             </div>

            <div class="link1"><a href="/portefolio/boogle/login/" class="login">Sign in</a> </div>
        </div>
        <div class="imagem">
            <img src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg" alt="Logo da Boogle" class="logo">
        </div>

        <div class="pesquisa">
            <div class="barra">
                <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png" alt="lupa" class="lupa"> <form action="#"> <input type="text"></form>  <img src="https://cdn1.iconfinder.com/data/icons/material-audio-video/21/mic-512.png" alt="microfone" class="micro"></div>
        </div>

        <div class="botoes">
            <div><button type="submit">Google Search</button> </div>

        <div><button type="submit">I'm Felling Lucky</button> </div>
        </div>

        <div class="info">
            <p>Boogle offered in: <a href="https://www.google.pt">Português (Portugal)</a> </p>

        </div>

        <div class="footer">
            <p>Portugal</p>
            <hr>

            <div class="ft-baixo">
                <div class="footer-esq">
                    <div><a href="">About</a></div>
                    <div><a href="">Advertising</a></div>
                    <div><a href="">Business</a></div>
                    <div><a href="">How Search works</a></div>
                </div>


                <div class="footer-drt">
                    <div><a href="">Privacy</a></div>
                    <div><a href="">Terms</a></div>
                    <div><a href="">Settings</a></div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>