<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in - Boogle Accounts</title>
    <link rel="stylesheet" href="/static/css/style2.css">
    <meta name="author" content="Rui Pereira">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.imgur.com/sHTGEs8.jpg">
</head>
<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXYUBiA7C_xLekkKmYgAA2w0ceLIWUefJTQg&usqp=CAU" alt="Sinal temporario">
    <h1>Página em execução</h1>

    <div class="login-geral">
        <div class="caixa">
             <img src="https://storage.googleapis.com/smartninja/boogle-1614873832.jpeg" alt="Logo da Boogle" class="logo">
        </div>

        <div class="info2">
            <a href="">Português</a>
            <a href=""> Help</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>

        </div>

    </div>


</body>
</html>