<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Rui Pereira">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <h1>Portefolio</h1>

  <h2>Aqui estão alguns trabalhos que realizei</h2>

  <ul>
      <a href="/portefolio/fakebook/"><li>Fakebook</li></a>
      <a href="/portefolio/boogle/"><li>Boogle</li></a>
      <a href="/portefolio/cabeleireiro/"><li>Cabeleireiro</li></a>
  </ul>

</body>
</html>